th {
    font-size: 120%;
}

td {
    font-size: 200%;
}


.zoom{
    transition: transform 0.18s;
}
.zoom:hover {
    transform: scale(1.15);
}

.content {
    /* this is needed or the background will be offset by a few pixels at the top */
    overflow: auto;
    position: relative;
}
.content::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("img/bg1.jpg");
    background-size:cover;
    width: 108%;
    height: 108%;

    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */

    filter: blur(3px) saturate(50%) contrast(50%) opacity(60%) brightness(30%);
    /* -moz-filter: blur(5px); */
    /* -o-filter: blur(5px); */
    /* -ms-filter: blur(5px); */
    
    /* filter: saturate(70%);

    opacity: 22%; */

}


.space1 {
    height: 20em;
}
.space2 {
    height: 3em;
}

.bigger-font {
    font-size: 105%;
}

.bg-clear {
    background-color: rgba(0, 0, 0, 0);
}

#buttonBox {
    transition: transform 200ms;
}